:root {
  font-family: system-ui, 'Segoe UI', Roboto, -apple-system, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light;
}



*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: white;
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4 {
  margin: 0;
}

p {
  margin: 0;
}

code {
  font-family: ui-monospace, Consolas, monospace;
}
